// brand color
$brand-color-black: rgb(21,21,21);
$brand-color-gold: #fbc403;
$brand-color-blue: rgb(0, 45, 98);
$brand-color-yellow: rgb(255, 196, 37);


// Text color
$text-color: #2f3037;
$text-color-2: #6a6c7b;
$text-color-white: #fff;

